
.ba { border-style: solid; border-width: 1px; border-color: $gray-color; }
.bt { border-top-style: solid; border-top-width: 1px; border-color: $gray-color; }
.br { border-right-style: solid; border-right-width: 1px; border-color: $gray-color; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; border-color: $gray-color; }
.bl { border-left-style: solid; border-left-width: 1px; border-color: $gray-color; }
.bn { border-style: none; border-width: 0; border-color: $gray-color; }

.w-50 { width: 50%; }
.w-100 { width: 100%; }
